services:
    - JanSuchanek\DataGrid\Components\DataGrid\DataGridControlFactoryInterface
    - JanSuchanek\DataGrid\Components\VisualPaginator\VisualPaginatorControlFactoryInterface
    - JanSuchanek\DataGrid\Configuration\Configuration
