services:
    - DataGrid\Components\DataGrid\DataGridControlFactoryInterface
    - DataGrid\Components\VisualPaginator\VisualPaginatorControlFactoryInterface
    - DataGrid\Configuration\Configuration
