<p>Nalezeno: {$itemsCount}</p>

<p>Edit {$id}</p>

{foreach $flashes as $flash}
    <div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

{control vp}

{form listForm}
<table border="1">
<thead>
<tr>
	{foreach $cols as $textKey => $textItem}
	<th>
	{if $textKey != $primary}
		{input query-{$textKey}}
	{/if}
	</th>
	{/foreach}
	<th>
		{input search}
		{input cancel}
	</th>
</tr>

<tr>
	{foreach $cols as $textKey => $textItem}
	<th>
		{if $order == $textKey}
			{$textItem->label}

			{if $sort == 'DESC'}
			<a n:href="this, sort => NULL">UP</a> DOWN
			{else}
			UP <a n:href="this, sort => 'DESC'">DOWN</a>
			{/if}
		{else}
			<a n:href="this, order => $textKey, sort => NULL">{$textItem->label}</a>
		{/if}
	</th>
	{/foreach}
	<th>Akce</th>
</tr>
</thead>

<tbody>
	<tr n:foreach="$items as $item">
		{foreach $cols as $textKey => $textItem}
		<td>
			{if $textKey == $primary}
				{input items-{$item->$primary}}
			{/if}
			{if $id == $item->$primary}
				{if $textKey != $primary}
					{input item-{$textKey}}
				{else}
					{input item-{$textKey}}
					{$item->$textKey}
				{/if}
			{elseif $item->$textKey}
				{if $textItem->getType() == 'int'}
					{$item->$textKey}
				{elseif $textItem->getType() == 'date'}
					{date('d.m.Y',$item->$textKey)}
				{elseif $textItem->getType() == 'select'}
					{$textItem->getSelect($item->$textKey)}
				{else}
					{$item->$textKey}
				{/if}
			{/if}
		</td>
		{/foreach}
		<td>
			{if $id == $item->$primary && $textKey != $primary}

				{input save}
				{input cancel}
			{else}
				<a href="{plink edit $item->$primary}">Upravit</a>
				<a n:href="this, id => $item->$primary">Inline</a>
			{/if}
		</td>
	</tr>
</tbody>
</table>
{input select}
{input submit}
{/form}

{control vp}
